.card, .socials {
  left: 15%;
  border-radius: 20px;
  width: 70%;
  margin-top: 2.5em;
}

img {
  -webkit-user-drag: none;
}

body, html {
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

p,
h3 {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

body {
  background-color: #a3ff94;
  margin: 0;
  overflow-y: hidden;
}

body #bg {
  background-color: #141414;
  -webkit-clip-path: polygon(100% 100%, 0% 100%, 100% 11%);
          clip-path: polygon(100% 100%, 0% 100%, 100% 11%);
  width: 100%;
  height: inherit;
  z-index: -1;
  position: absolute;
}

@media (min-width: 1200px) {
  body #bg {
    -webkit-clip-path: polygon(100% 100%, 100% 35%, 0% 100%);
            clip-path: polygon(100% 100%, 100% 35%, 0% 100%);
  }
}

@media (min-width: 1200px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1200px) {
  .content {
    height: auto;
  }
}

.logo {
  width: 300px;
  height: 300px;
  display: block;
  margin: auto;
}

@media (min-width: 1200px) {
  .logo {
    width: 50%;
    height: auto;
  }
}

.card {
  font-family: 'Montserrat';
  background-color: rgba(143, 235, 128, 0.6);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  color: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 22%;
}

.card:first-child {
  margin-top: 0;
}

@media (min-width: 700px) {
  .card {
    height: 200px;
  }
}

@media (min-width: 1200px) {
  .card {
    height: 50%;
  }
}

.card ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: .5em;
}

.card li {
  padding: .8em;
}

.card li h3 {
  font-family: 'Bevan';
  font-size: 16px;
  padding-left: 10%;
  width: 60px;
}

@media (min-width: 700px) {
  .card li h3 {
    font-size: 24px;
    width: 100px;
  }
}

@media (min-width: 1200px) {
  .card li h3 {
    font-size: 28px;
    width: 130px;
  }
}

@media (min-width: 1800px) {
  .card li h3 {
    font-size: 40px;
    width: 180px;
  }
}

.card li span {
  width: 8px;
  height: 70%;
  bottom: 15%;
  background: #141414;
  position: absolute;
}

@media (min-width: 700px) {
  .card li span {
    width: 10px;
  }
}

.card li p {
  font-size: 9.2px;
  padding-right: 6%;
}

@media (min-width: 700px) {
  .card li p {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .card li p {
    font-size: 18px;
  }
}

@media (min-width: 1800px) {
  .card li p {
    font-size: 26px;
  }
}

.socials {
  background-color: rgba(230, 64, 110, 0.5);
  position: relative;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.socials .social {
  width: calc(100% / 3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.socials .social:hover {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.socials .social:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.socials .social#github:hover {
  background: rgba(0, 0, 0, 0.8);
}

.socials .social#discord:hover {
  background: rgba(116, 136, 222, 0.8);
}

.socials .social#itch:hover {
  background: rgba(255, 36, 73, 0.8);
}

.socials ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.socials .icon#github {
  width: 45px;
  height: 45px;
}

.socials .icon#discord {
  width: 50px;
  height: 50px;
}

.socials .icon#itch {
  width: 50px;
  height: 50px;
}
/*# sourceMappingURL=main.css.map */